@font-face {
    font-family: 'Enter Sansman';
    src: url('EnterSansmanBold.woff2') format('woff2'),
        url('EnterSansmanBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

